.step
  &__actions
    display: flex
    justify-content: space-between
     
  &__form
    margin: 20px 0;

  &__fields-container
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    margin-bottom: 30px

  &__form &__field
    margin-bottom 15px
    width: 45%
    @media (max-width: 480px) {
      width: 100%
    }
